/* ============================================= */
/*              Base styles                      */
/* ============================================= */

// named color variables
$primary-color: #777;
$white: #fff;
$grey:#ccc;
$malibu: #51ddfc;
$viking:#58e1c1;

// functional 
$error-color: #e4757a;
$info-color: #927bc1;
$succes-color: #63cc82;
$warning-color: #fd7856;

// font stack variables
$lato-font-stack:'Lato', sans-serif;
$font-weight-light: 300;
$font-weight-strong: 700;

/* ============================================= */
/*              Grid System                      */
/* ============================================= */

$col-colors: (
    '1':#927bc1,
    '2':#fd7856,
    '3':#deb2ee,
    '4':#7ee6fd,
    '5':#88d9a0,
    '6':#4da2bb,
    '7':#ec9fa3,
    '8':#fd9f85,
    '9':#e4757a,
    '10':#63cc82,
    '11':#51ddfc,
    '12':#80e8d1
);

/* ============================================= */
/*            Media Query                        */
/* ============================================= */

// Create a variable that stores the size of the media query breakpoint

$break-m: '(min-width: 768px)';
