/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  @include btn-styling;
  }
  
  .default {
    background-color: $malibu;
  }
  
  .error {
    background-color: $error-color;
  }
  
  .info {
    background-color: $info-color;
  }
  
  .success {
    background-color: $succes-color;
  }
  
  .warning {
    background-color: $warning-color;
  }
  
  