
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $font-stack;
    color: $primary-color;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  .headline-primary {
    color: $viking;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: $font-weight-light;
    color: $primary-color;
  }
  
  .link {
    color: $malibu;
    font-weight: $font-weight-strong;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: $font-weight-light;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $viking;
    border-radius: 5px;
  }
  
  

 /* Scan the resources/css/styles.css file for styles related to font family, size, and weight.
Pay particular attention to those that are targeting tag names like a, h1, body, or the universal selector *.
Add these styles into the typography partial. */